<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if titulo %}
        <title>{{ titulo }}  - Unipython Tweet</title>
    {% else %}
        <title>Unipython Tweet</title>
    {% endif %}
  </head>
  <body>
    <div>Blog:  
        <a href="{{ url_for('index') }}">Inicio</a>
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Iniciar Sesión</a>
        {% else %}
          <a href="{{ url_for('perfil_usuario', username=current_user.username) }}">Perfil</a>
          <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% endif %}
    </div>    
    <hr>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        <ul>
            {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block contenido %}{% endblock %}    
  </body>
</html>
